DATABASE_URL="file:./dev.db"
ADMIN_PASSWORD="change-me"
ADMIN_SECRET="long-random-secret"
PAYSTACK_SECRET_KEY="sk_test_xxx"
PAYSTACK_PUBLIC_KEY="pk_test_xxx"
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="pk_test_xxx"
WHATSAPP_NUMBER="2349155353128"
NEXT_PUBLIC_WHATSAPP_NUMBER="2349155353128"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_PHONE="+234 915 535 3128"
